h1 {
	font-family: roboto;
}

h2 {
	font-family: roboto;
}

h3 {
	font-family: roboto;
}

h4 {
	font-family: roboto;
}

p {
	font-family: roboto;
	text-align: left;
	padding-left: 5px;
	padding-right: 5px;
}

img {
	max-width: 500px;
	max-height: 500px;
}

div {
	padding: 14px;
	margin-top: 0px;
	margin-bottom: 30px;
	text-align: center;	
}

.navigation {
	display: inline-block;
	text-align: center;
	font-family: roboto;
	padding: 6px;
}

#nav1 {
	margin: 0 auto;
}

#site-header {
	background-color: #08CA9F;
	padding: 24px;
	margin: 0 auto;
	text-align: center;
	color: white;

}

#maui-block {
	background-color: #C4DEFC;
	
}

#reykjavik-block {
	background-color: #C2F2E3;
	
}

#aspen-block {
	background-color: #C4DEFC;
	margin-bottom: 0;

}

#footer {
	margin: 0 auto;
}

